name: Build & Deploy GameOps Static Web

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Install Podman
      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman
       # Step 3: Build Podman image
      - name: Build Podman image
        run: |
          podman build -t docker.io/${{ secrets.DOCKER_USERNAME }}/gameops:latest .

      # Step 4: Login to Docker Hub
      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | podman login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin docker.io

      # Step 5: Push image to Docker Hub
      - name: Push Podman image
        run: podman push docker.io/${{ secrets.DOCKER_USERNAME }}/gameops:latest

      # Step 6: Deploy to Kubernetes
      - name: Deploy to Kubernetes
        uses: azure/setup-kubectl@v3  # Works for any K8s cluster
        with:
          version: '1.27.3'

      - name: Set Kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml