name: Build & Deploy GameOps Static Web

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Debug Docker username
        run: |
          echo "Docker username = '${{ secrets.DOCKER_USERNAME }}'"

      - name: Build Podman image
        run: |
          podman build -t docker.io/${{ secrets.DOCKER_USERNAME }}/gameops:latest .

      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | podman login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin docker.io

      - name: Push Podman image
        run: podman push docker.io/${{ secrets.DOCKER_USERNAME }}/gameops:latest